<body>
    <a style="display: flex; justify-content: center;" href="/addSuperhero">Agregar Nuevo Superhéroe</a>
<div class="contenedorr">
  <table class="tabla"  border="2">
    <thead>
      <tr>
        <th>Nombre del Superhéroe</th>
        <th>Nombre Real</th>
        <th>Edad</th>
        <th>Planeta de Origen</th>
        <th>Debilidad</th>
        <th>ID</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% superheroes.forEach((hero) => { %>
        <tr>
          <td><%= hero.Nombre %></td>
          <td><%= hero.NombreReal %></td>
          <td><%= hero.Edad %></td>
          <td><%= hero.PlanetadeOrigen %></td>
          <td><%= hero.Debilidad || "N/A" %></td>
          <td><%= hero.id || "N/A" %></td>
          <td>
            <a href="/editSuperhero/<%= hero.id %>" class="btn- btn-editar">Editar</a>
            <form action="/api/heroes/id/<%= hero.id %>" method="DELETE"  style="display: inline;">
              <button class="btn bt-eliminar" type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
  </body>