<div class="items-center align-center">
    <h1>Lista de Superhéroes</h1>
    <a class="items-center align-center mx-4" href="/addSuperhero">Agregar Nuevo Superhéroe</a>
    <table class="tabla" border="1" style="align-items:center; justify-content: center;">
      <thead>
        <tr class="mx-4">
          <th>Nombre del Superhéroe</th>
          <th>Nombre Real</th>
          <th>Edad</th>
          <th>Planeta de Origen</th>
          <th>Debilidad</th>
          <th>ID</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% superheroes.forEach((hero) => { %>
          <tr class="mx-10">
            <td class="mx-10"><%= hero.Nombre %></td>
            <td class="mx-10"><%= hero.NombreReal %></td>
            <td class="mx-10"><%= hero.Edad %></td>
            <td class="mx-10"><%= hero.PlanetadeOrigen %></td>
            <td class="mx-10"><%= hero.Debilidad || "N/A" %></td>
            <td class="mx-10"><%= hero.id || "N/A" %></td>
            <td>
              <a href="/editSuperhero/<%= hero.id %>">Editar</a>
              <form action="/api/heroes/id/<%= hero.id %>" method="DELETE"  style="display: inline;">
                <button type="submit">Eliminar</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>