<!DOCTYPE html>
<div  style="display:flex; justify-content: center; align-items: center; "lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countries</title>
</head>
<body >
  <h1>Lista de países</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Región</th>
        <th>Población</th>
        <th>Capital</th>
        <th>Área</th>
      </tr>
    </thead>
    <tbody>
      <% countries.forEach(country => { %>
        <tr>
          <td><%= country.name.common %></td>
          <td><%= country.region %></td>
          <td><%= country.population %></td>
          <td><%= country.capital %></td>
          <td><%= country.area %></td>
          <td><%= country._id %></td>
          <td>
            <a href="/editCountry/<%= country._id %>" class="btn- btn-editar">Editar</a>
            <form action="/apipais/countries/<%= country._id %>" method="DELETE"  style="display: inline;">
              <button class="btn bt-eliminar" type="submit">Eliminar</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</div>
