<!DOCTYPE html>
<div  >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countries</title>
</head>
<body>
  <div style="text-align: center;">
    <h1>Lista de países</h1>
    <a href="/addCountry">Añadir un pais</a>
  </div>
  <table border="1" ">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th>Capital</th>
        <th>Área</th>
        <th>Gini</th>
        <th>Borders</th>
        <th>ID</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% countries.forEach(country => { %>
        <tr>
          <td><%= country.name.official %></td>
          <td><%= country.population %></td>
          <td><%= country.capital %></td>
          <td><%= country.area %></td>
          <td><%= country.gini %></td>
          <td><%= country.borders %></td>
          <!-- <td>
            <% for (let lang in country.languages) { %>
              <%= country.languages[lang] %><br>
            <% } %>
          </td> -->
          <td><%= country._id %></td>
          <td>
            <a href="/editCountry/<%= country._id %>" class="btn- btn-editar">Editar</a>
            <form onsubmit="event.preventDefault(); deleteCountry('<%= country._id %>');" style="display: inline;">
              <button class="btn bt-eliminar" type="submit">Eliminar</button>
            </form>
            <script>
              function deleteCountry(id) {
              fetch(`/apipais/countries/${id}`, {
                method: 'DELETE'
              })
              .then(response => {
                if (response.ok) {
                window.location.reload();
                } else {
                alert('Error al eliminar el país');
                }
              })
              .catch(error => {
                console.error('Error:', error);
                alert('Error al eliminar el país');
              });
              }
            </script>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</div>
